body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dd {
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.h1-title {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    color: #192b59;
    line-height: 1.1;
    max-width: 600px;
}

.h2-title {
    font-size: 50px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -1.5px;
    line-height: 1.2;
}


.h3-title {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.p-text {
    font-size: 16px;
    font-weight: 400;
    color: #566485;
}

.header {
    min-height: 1000px;
    background-image: url(../img/header-bg.png);
    padding-top: 56px;
    padding-bottom: 110px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
}

.nav__menu a {
    color: #6e7ea9;
}

/* .header__flex a {
    width: 215px;
} */

.header__logo {
    width: 215px;
    height: 95px;
}

.nav__menu {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__menu>li {

    margin-right: 25px;
    color: #6e7ea9;
}

.nav__menu>li:last-child {
    margin-right: 0;
}

.btn-primary {
    display: block;
    height: 60px;
    color: #fff;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    padding: 19px 30px;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
}

.header__btn {
    width: 183px;
    color: #fff;
    font-weight: 400;
    padding: 16px 50px 20px 50px;
    letter-spacing: 1.7px;
}

.nav__menu .header__btn {
    color: #fff;
}

.header__info {
    margin-top: -46px;
}

.header__h1 {
    margin-bottom: 45px;
    padding-top: 56px;
}

.header__info-btns {
    display: flex;
}

.header__info-btn {
    width: 227px;
    margin-right: 20px;
    padding: 18px 24px 22px 38px;
}

.btn-secondary {
    width: 183px;
    height: 60px;
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 18px 43px 20px 49px;
    border-radius: 30px;
    letter-spacing: 1px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.header__content-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 414px;
}

.header__img {
    max-width: 873px;
    max-height: 702px;
    margin-left: auto;
    margin-right: 0;
}

.company {
    min-height: 273px;
    background-image: url(../img/logos-bg.png);
    padding-top: 96px;
}

.company__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.company__flex>li:nth-child(3),
.company__flex>li:nth-child(4) {
    width: 200px;
}

.company__logo {
    width: 230px;
}

.features {
    min-height: 1235px;
    padding-top: 114px;

}

.features__grid {
    display: grid;
    grid-template-areas:
        "one two three"
        "four two three"
        "four five six"
        "seven five six"
        "seven eight eight";
    justify-content: stretch;
    align-items: stretch;
    gap: 30px;
}

.features__grid-item {
    padding: 50px 35px 75px;
    text-align: center;
    width: 350px;
    height: 385px;
    box-shadow: 0 0 10px #f2f2f2;
}

.features__h2 {
    grid-area: one;
    font-size: 40px;
    width: 273px;
    height: 148px;
    padding-left: 7px;
    font-weight: 700;
    color: #192b59;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

.features__h2 span,
.h2-title span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.features__grid-item .documented {
    grid-area: two;
}

.features__grid-item .customizeably {
    grid-area: three;
}

.features__grid-item .friendly {
    grid-area: four;
}

.features__grid-item .responsive {
    grid-area: five;
}

.features__grid-item .support {
    grid-area: six;
}

.features__grid-item .edit {
    grid-area: seven;
}

.features__grid-item-info {
    grid-area: eight;
    width: 700px;
    height: 135px;
    margin-top: -250px;
    padding-left: 35px;
}

.friendly {
    margin-top: -200px;
}

.edit {
    margin-top: -180px;
}

.features__grid-logo img {
    width: 85px;
    height: 85px;
    margin: 0 auto 30px;
}

.features__h3 {
    margin-bottom: 31px;
}


.features__p {
    margin-bottom: 31px;
}

.features__link {
    font-size: 14px;
    font-weight: 600;
    color: #00bffe;
}

.features__grid-p {
    color: #00bffe;
    font-size: 16px;
}

.p-text.features__grid-p span {
    color: #000;
    font-weight: bold;
}

.subscribe {
    min-height: 520px;
    padding-top: 55px;
    padding-bottom: 50px;
    background: linear-gradient(90deg, rgba(9, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    /* background-image: url(/img/subscribe-bg.png); */
}

.subscribe span {
    font-size: 14px;
    color: #00bffe;
    font-weight: 800;
    text-transform: uppercase;
}

.subscribe__flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.subscribe__flex-left {
    padding-top: 63px;
    padding-left: 10px;
    position: relative;
}

.subscribe__h2 {
    margin-bottom: 32px;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.subscribe__p {
    width: 410px;
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
    margin-bottom: 39px;
}

.subscribe input {
    width: 539px;
    height: 70px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 28px 0 28px 34px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.subscribe__btn {
    width: 188px;
    height: 54px;
    padding: 15px 49px;
    position: absolute;
    left: 63%;
    top: 69%;
}

.subscribe__img {
    width: 352px;
    height: 415px;
    padding-left: 19px;
}

.software {
    min-height: 1000px;
    background-image: url(../img/software-bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 141px;
}

.software__flex {
    display: flex;
}

.software__img {
    max-width: 928px;
    margin-right: auto;
    margin-left: 0;
}

.software__flex-right {
    margin-left: -16px;
}

.software__info {
    margin-right: 0;
    margin-left: auto;
    width: 600px;
    padding-left: 10px;
}

.section__logo {
    width: 62px;
    height: 68px;
    margin-bottom: 18px;
}

.software__h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    width: 526px;
    margin-bottom: 26px;
}

.software__p {
    margin-bottom: 17px;
}

.software__list {
    height: 335px;
    overflow-y: scroll;
}

.software__list::-webkit-scrollbar {
    width: 4px;
    background-color: #f3f6ff;
}

.software__list::-webkit-scrollbar-thumb {
    background-color: #2377cd;
    height: 8px;
    border-radius: 5px;
}

.software dt {
    font-size: 16px;
    color: #5a6789;
    font-weight: 700;
    margin-bottom: 9px;
}

.software dd {
    font-size: 14px;
    color: #7581a1;
    font-weight: 400;
    margin-bottom: 49px;
}

.software dd:last-child {
    margin-bottom: 0;
}


.stat {
    background-image: url(../img/stat-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 531px;
    padding-top: 89px;
    padding-bottom: 110px;
}


.stat__h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    width: 500px;
    margin: 0 auto;
    padding-left: 66px;
    text-align: center;
    line-height: 60px;

}

.stat__h2 span {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #1085e4;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
}

.list-stat {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 81px;
}

.list-stat>li {
    font-size: 12px;
    color: #1085e4;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.app {
    min-height: 622px;
    background-image: url(../img/app-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
}

.app__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.app__h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    max-width: 470px;
    margin-bottom: 37px;
}

.app__flex-left {
    max-width: 603px;
    padding-top: 58px;
    padding-left: 187px;
    margin-right: 75px;
}

.app__p {
    line-height: 26px;
    width: 600px;
    margin-bottom: 28px;
}

.app__flex-left span {
    color: #c4d2dd;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 27px;
    display: block;
}

.app__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.app__info>li {
    margin-right: 23px;
}

.app__info>li:last-child {
    margin-right: 0;
}

.app__info img {
    width: 165px;
    height: 53px;
}

.app__img {
    max-width: 560px;
}

.analitycs {
    min-height: 689px;
    background-image: url(../img/analytics-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 119px;
}

.analitycs__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analitycs__flex-left {
    max-width: 446px;
    margin-right: 68px;
}

.analitycs__flex-left img {
    width: 446px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.analitycs__flex-right {
    width: 611px;
}

.analitycs__flex-right img {
    margin-bottom: 22px;
}

.analitycs__h2 {
    margin-bottom: 26px;
}

.analitycs__p {
    margin-bottom: 36px;
    width: 608px;
}

.analitycs__btn {
    width: 230px;
    padding: 19px 26px 19px 42px;
}

.control {
    min-height: 690px;
    background-image: url(../img/control-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 131px;
    padding-bottom: 120px;
}

.control__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control__flex-left {
    text-align: left;
    padding-left: 40px;
    margin-right: 38px;
}

.control__flex-left img {
    margin-bottom: 24px;
}

.control__h2 {
    margin-bottom: 29px;
}

.control__p {
    width: 612px;
    margin-bottom: 33px;
}

.control__btn {
    width: 231px;
    padding: 16px 44px 33px 65px;
}

.contol__img {
    width: 432px;
}

.screen {
    min-height: 765px;
    background-color: #edf6ff;
    padding-top: 116px;
    text-align: center;
}

.screen__h2 {
    font-size: 40px;
    margin-bottom: 83px;
}

.screen__img {
    max-width: 1293px;
    margin: 0 auto;
}

.clients {
    min-height: 525px;
    background-image: url(../img/clients-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 10px;
}

.clients__h2 {
    color: #edf6ff;
    font-size: 40px;
    margin-bottom: 63px;
}

.clients__h2 span {
    font-size: 18px;
    color: #85c8ff;
    text-transform: uppercase;
    font-weight: 700;
}

.clients__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients__flex-item {
    width: 350px;
    height: 227px;
    background-color: #fff;
    padding: 39px 64px 54px 42px;
    border-radius: 10px;
    margin-right: 38px;
}

.clients__flex-item:last-child {
    margin-right: 0;
}

.clients__flex-p {
    font-style: 14px;
    line-height: 26px;
    width: 283px;
    margin-bottom: 19px;
}

.clients__flex-info {
    display: flex;
    justify-content: space-between;
}

.clients__img {
    width: 60px;
}

.clients__flex-text {}

.clients__flex-name {
    font-size: 22px;
    font-weight: 600;
    color: #000959;
}

.clients__flex-position {
    font-size: 14px;
    font-weight: 700;
    color: #409de9;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.plan {
    min-height: 1020px;
    padding-top: 106px;
    text-align: center;
}

.plan__h2 {
    font-size: 40px;
    margin-bottom: 85px;
}

.plan__flex {
    display: flex;
    justify-content: space-between;
}

.plan__flex-item {
    width: 348px;
    height: 625px;
    background-image: url(../img/price-item-bg.png);
    padding-top: 94px;
}

.active {
    background-image: none;
    background-color: #192b59;
    color: #fff;
    padding-top: 89px;
}

.plan__h3 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-left: 17px;
}

.plan__p {
    font-size: 14px;
    font-weight: 400;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 26px;
}

.plan-info {
    list-style: none;
    line-height: 40px;
    margin-bottom: 52px;
}

.plan-link {
    background-color: transparent;
    font-size: 12px;
    color: #8085b1;
    font-weight: 700;
    width: 235px;
    height: 60px;
    border: 1px solid #dce1e5;
    border-radius: 30px;
    padding: 26px 64px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.active h3 {
    color: #fff;
    margin-bottom: 18px;
}

.active .plan__p {
    color: #fff;
}

.active .plan-info {
    margin-bottom: 36px;
}

.span-active-1 {
    font-size: 20px;
    color: #fff;
}

.span-active-2 {
    font-size: 20px;
    color: #7b8ab2;
}

.span-1 {
    font-size: 20px;
    color: #000959;
}

.active__btn {
    width: 238px;
    margin: 0 auto;
}

.last {
    padding-top: 95px;
}

.last h3 {
    padding-left: 45px;
    margin-bottom: 13px;
}

.last .plan-info {
    margin-bottom: 49px;
}

.team {
    min-height: 845px;
    background-image: url(../img/team-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 113px;
    padding-bottom: 118px;
    text-align: center;
}

.team__h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 152px;
}

.team span {
    color: #85c8ff;
}

.team__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.team__flex-item {
    padding-top: 198px;
    padding-right: 19px;
    padding-left: 36px;
    width: 352px;
    height: 383px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 5px 5px 10px 7px#f8f8f8;
}

.team__img {
    width: 287px;
    margin: 0 auto 30px;
    position: absolute;
    top: -25%;
    left: 11%;
}

.team__position {
    font-size: 14px;
    font-weight: 800;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 9px;
}

.team__name {
    font-size: 26px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 30px;
}

.team__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__plus {
    width: 47px;
    margin: 0 auto;
}

.team__fb {
    width: 47px;
    margin-right: 12px;
}

.team__twitter {
    width: 47px;
    margin-right: 12px;
}

.team__be {
    width: 47px;
    margin-right: 12px;
}

.team__g {
    width: 47px;
}

.form {
    min-height: 836px;
    background-image: url(../img/form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 104px;
    padding-bottom: 119px;
}

.form__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__flex-left {
    margin-right: 83px;
}

.form__img {
    width: 423px;
    padding-top: 10px;
}

.form__h2 {
    max-width: 497px;
    margin-bottom: 48px;
}

.form__flex-right {
    position: relative;
}

.form input {
    width: 513px;
    height: 68px;
    background-color: #fff;
    padding-left: 40px;
    font-size: 14px;
    margin-bottom: 19px;
    border: 2px solid #dce4ec;
    border-radius: 30px;
}

textarea {
    width: 513px;
    height: 164px;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 14px;
    border: 2px solid #dce4ec;
    border-radius: 30px;
    margin-bottom: 37px;
}

.form__btn {
    width: 230px;

}

.fa {}

.fa-user {
    position: absolute;
    left: 78%;
    top: 6%
}

.fa-envelope {
    position: absolute;
    left: 78%;
    top: 25%;
}

.fa-pencil {
    position: absolute;
    left: 78%;
    top: 45%;
}

.fa-telegram {
    margin-right: 10px;
}

.footer {
    min-height: 70px;
    background-color: #192b59;
    padding-top: 20px;
    padding-bottom: 27px;
}

.footer__link {
    color: #1085e4;
    text-transform: uppercase;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.social>li {
    margin-right: 28px;
}

.social>li:last-child {
    margin-right: 0;
}

.social__fb {
    width: 20px;
}

.social__twitter {
    width: 20px;
}

.social__be {
    width: 20px;
}

.social__pinterest {
    width: 20px;
}

.social__f {
    width: 20px;
}


@media screen and (max-width:1280px) {
    .header__content-flex {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        text-align: center;
    }

    .header__info-btns {
        justify-content: center;
        margin-bottom: 30px;

    }

    .header__img {
        margin: 0 auto;
    }

    .software {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .software__flex {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .software__flex-left {
        order: 1;
        margin-bottom: 30px;
    }

    .software__flex-right {
        padding-left: 0;
        margin: 0 auto 50px;
    }



    .software__p,
    .software__list dt,
    .software__list dd {
        color: #fff;
    }
}

@media screen and (max-width:1024px) {


    .wrap {
        /* padding-left: 50px;
        padding-right: 50px; */
        margin-right: 0;
    }

    .header__flex {
        flex-direction: column;
    }

    .header__btn {
        padding-right: 43px;
    }

    .company__flex {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .company__logo {
        width: 170px;
    }

    .features {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .features__grid {
        grid-template-areas:
            "one one"
            "two three"
            "four five "
            "six seven"
            "eight eight";
        gap: 50px;
        justify-content: center;
    }

    .features__h2 {
        margin: 0 auto;
        text-align: center;
    }

    .friendly {
        margin-top: 0;
    }

    .edit {
        margin-top: 0;
    }

    .features__grid-item-info {
        margin-top: 0;
        align-self: stretch;
        text-align: center;
        padding-left: 0;
    }

    .subscribe__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe__flex-left {
        padding-left: 0;
    }

    .subscribe__img {
        padding-left: 0;
    }

    .stat__h2 {
        padding-left: 0;
    }

    .app {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .app__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .app__flex-left {
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .app__h2 {
        margin: 0 auto 10px;
    }

    .app__info {
        margin: 0 auto;
    }

    .analitycs {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .analitycs__flex {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .analitycs__flex-left img {
        width: 611px;
        margin-bottom: 50px;
        padding: 0;
    }

    .analitycs__flex-left {
        order: 1;
    }

    .analitycs__flex-right {
        width: 611px;
    }

    .control {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .control__flex {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .control__flex-left {
        margin-bottom: 50px;
    }

    .contol__img {
        width: 612px;
    }

    .clients__h2 {
        text-align: center;
    }

    .clients__flex {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .clients__flex-item {
        margin-bottom: 30px;
    }

    .clients__flex-item:nth-child(2) {
        margin-right: 0;
    }

    .clients__flex-item:last-child {
        margin-bottom: 0;
    }

    .plan__flex-item.active {
        margin-right: 0;
    }

    .plan__flex-item:last-child {
        margin-right: 0;
    }

    .plan__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plan__flex-item {
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .team {
        padding-bottom: 0;
    }

    .team__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__flex-item {
        margin-right: 50px;
        margin-bottom: 150px;
    }

    .team__flex-item:nth-child(2) {
        margin-right: 0;
    }

    .form__flex-left {
        width: 420px;
    }

    .form__flex-right {
        width: 500px;
        margin-left: -30px;
    }

    .form input,
    textarea {
        width: 490px;
    }

    .footer__flex {
        justify-content: space-evenly;
        padding-left: 0;
    }

    .fa-user {
        left: 88%;

    }

    .fa-envelope {
        left: 88%;

    }

    .fa-pencil {
        left: 88%;
    }
}

@media screen and (max-width:855px) {
    .subscribe__flex-left {
        margin-bottom: 50px;
    }

    .subscribe__btn {
        top: 82%;
    }

    .form__flex {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .form__flex-left {
        order: 1;
    }

    .form__flex-right {
        margin-bottom: 50px;
        margin-right: 0;
    }

    form {
        margin: 0 auto;
    }


    .form__btn {
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {

    .features__grid {
        gap: 20px;
    }
}

@media screen and (max-width:540px) {

    .h2-title {
        font-size: 40px;
    }

    .burger {
        width: 50px;
        height: 50px;
        cursor: pointer;
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 0;
    }

    .burger__line {
        display: block;
        width: 21px;
        height: 3px;
        background-color: #000;
        margin-bottom: 4px;
    }

    .burger__line:last-child {
        margin-bottom: 0;
    }

    .nav__menu {
        display: none;
    }

    .header__flex {
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__h1 {
        font-size: 60px;
    }

    .sidenav .header__btn {
        color: #fff;
        padding-left: 45px;
        margin-left: 10px;
    }

    .company {
        padding-top: 50px;
    }

    .company__logo {
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .features__grid {
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight";
        align-items: center;
    }

    .features__grid-item {
        margin: 0 auto;
    }

    .features__grid-item-info {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 100%;
    }

    .features__p {
        width: 100%;
    }

    .subscribe__flex {
        padding-left: 20px;
        padding-right: 20px;
    }

    .subscribe__h2,
    .subscribe__p {
        width: 100%;
    }

    .subscribe input {
        width: 100%;
    }

    .subscribe__btn {
        left: 60%;
    }

    .software {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .software__h2 {
        width: 100%;
    }

    .software__flex {}

    .software__flex-left {
        width: 100%;
    }

    .software__flex-right {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

    }

    .software__info {
        width: 100%;
    }

    .stat__h2 {
        width: 100%;
    }

    .list-stat {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .list-stat>li {
        padding: 0 20px;
        margin: 50px auto 50px;
    }

    .app {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .app__flex {
        padding-left: 20px;
        padding-right: 20px;

    }

    .app__flex-left {
        padding-top: 0;
        width: 100%;
    }

    .app__p {
        width: 100%;
    }

    .app__info {
        justify-content: center;
    }

    .analitycs {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .analitycs__flex {
        padding-left: 20px;
        padding-right: 20px;
    }

    .analitycs__flex-right {
        width: 100%;
        margin-bottom: 30px;
    }

    .analitycs__flex-left img {
        width: 100%;
    }

    .analitycs__flex-left {
        margin-right: 0;
    }

    .analitycs__p {
        width: 100%;
    }

    .control {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .control__flex {
        padding-left: 20px;
        padding-right: 20px;
    }

    .control__flex-left {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
    }

    .control__flex-right {
        width: 100%;
    }

    .contol__img {
        width: 100%;
    }

    .control__p {
        width: 100%;
    }

    .clients {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .clients__h2 {
        color: #192b59;
    }

    .clients__flex-item {
        margin-right: 0;
    }

    .plans {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .plan__flex-item {
        margin-right: 0;
    }

    .team {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .team__flex-item {
        margin-right: 0;
    }

    .form__flex {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form__flex-left {
        margin-left: 0;
        margin-right: 0;
    }

    .form__img {
        width: 100%;
    }

    .form__flex-right {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .form input,
    textarea {
        width: 100%;
    }

    form {
        margin: 0 auto;
    }

    .footer__flex {
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__flex-left {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:430px) {
    .header__info-btns {
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .header__info-btn {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .company__flex {
        padding-left: 10px;
        padding-right: 10px;
        align-items: flex-end;
    }

    .company__flex>li {
        width: 130px;
    }

    .company__logo {
        width: 130px;
        margin-right: 0;
    }

    .subscribe input {
        padding-left: 10px;
        font-size: 12px;
    }

    .subscribe__btn {
        left: 48%;
    }

    .team {
        padding-top: 25px;
    }
}

@media screen and (max-width:390px) {
    .subscribe__btn {
        width: 160px;
        padding-left: 38px;
        left: 50%;
    }
}


ul#slide-out:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ul#slide-out:not(.browser-default)>li {
    list-style-type: none;
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

#slide-out a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    float: left;
    margin-right: 15px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
}

nav ul a.btn>.material-icons,
nav ul a.btn-large>.material-icons,
nav ul a.btn-small>.material-icons,
nav ul a.btn-large>.material-icons,
nav ul a.btn-flat>.material-icons,
nav ul a.btn-floating>.material-icons {
    height: inherit;
    line-height: inherit;
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
    padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
    line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.sidenav .collapsible {
    margin: 0;
}

.sidenav li {
    float: none;
    line-height: 48px;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a.btn,
.sidenav li>a.btn-large,
.sidenav li>a.btn-small,
.sidenav li>a.btn-large,
.sidenav li>a.btn-flat,
.sidenav li>a.btn-floating {
    margin: 10px 15px;
}

.sidenav li>a.btn,
.sidenav li>a.btn-large,
.sidenav li>a.btn-small,
.sidenav li>a.btn-large,
.sidenav li>a.btn-floating {
    color: #fff;
}

.sidenav li>a.btn-flat {
    color: #343434;
}

.sidenav li>a.btn:hover,
.sidenav li>a.btn-large:hover,
.sidenav li>a.btn-small:hover,
.sidenav li>a.btn-large:hover {
    background-color: #2bbbad;
}

.sidenav li>a.btn-floating:hover {
    background-color: #26a69a;
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
    margin: 8px 0 0 0;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}

.sidenav .subheader:hover {
    background-color: transparent;
}

.sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}

.sidenav .user-view>a {
    height: auto;
    padding: 0;
}

.sidenav .user-view>a:hover {
    background-color: transparent;
}

.sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
    display: block;
}

.sidenav .user-view .circle {
    height: 64px;
    width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
}

.sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
}

.sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
}

.sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #ee6e73;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active a,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #fff;
}

.sidenav .collapsible-body {
    padding: 0;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
}